<ul class="nav nav-pills">

  <li> <%= link_to('Log Out', admin_logout_path, method: :delete) %></li>
  <li> <%= link_to('Admin Home', admin_path) %></li>

  <li> <%= link_to('Admin Log In', admin_login_path) %></li>
  <li> <%= link_to('Bands', bands_path) %></li>
  <li> <%= link_to('Venues', venues_path) %></li>
  <li> <%= link_to('Schedule', schedules_path) %></li>
</ul>