<!DOCTYPE html>
<html>
<head>
  <title>Eventful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <li>
          <% if admin_signed_in? %>
            <%= link_to('Log Out', admin_logout_path, method: :delete) %>
            <%= link_to('Admin Home', admin_path) %>
          <% else %>
            <%= link_to('Admin Log In', admin_login_path) %>
            <%= link_to('Bands', bands_path) %>
            <%= link_to('Venues', venues_path) %>
            <%= link_to('Schedule', schedules_path) %>
          <% end %>
        </li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
    <div>
      <div>
        
      </div>
    </div>
  </div>

</body>
</html>
